/** Google fonts **/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
/** Reset default **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: "Pattaya", "Henny Penny" "b";
}

.slider .slider-item {
  width: 100vw;
  max-height: 600px;
  border-bottom: 5px solid black;
}
@media (max-width: 992px) {
  .slider .slider-item {
    max-height: 300px;
  }
}

@media (max-width: 992px) {
  .navbar .navbar-collapse .navbar-nav .nav-item.logo {
    display: none;
  }
}
@media (min-width: 992px) {
  .navbar {
    height: 90px;
  }
  .navbar .navbar-collapse {
    justify-content: center;
  }
  .navbar .navbar-collapse .navbar-nav {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  .navbar .navbar-collapse .navbar-nav .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
    height: 90px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: box-shadow 0.5s ease-in-out;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item.logo img {
    z-index: 1;
    width: 100px;
    transform: translateY(40px);
  }
  .navbar .navbar-collapse .navbar-nav .nav-item.logo:hover {
    z-index: 1;
    filter: drop-shadow(0 0 10px #f2cc0f);
    cursor: pointer;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item.item00 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item:hover:not(.nav-item.logo) {
    box-shadow: inset 0 0 10px 0 #f2cc0f;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item:hover:not(.nav-item.logo) a {
    color: #f2cc0f;
  }
}

@media (max-width: 992px) {
  .slider {
    display: none;
  }
}
.sponsors {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 20px;
}
.sponsors .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sponsors .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.sponsors .cards .sponsorCard {
  overflow: hidden;
}
.sponsors .cards .btn.btn-primary {
  background-color: #9453a6;
  border: 1px solid #9453a6;
}
.sponsors .loading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.sponsors .loading .loadedItem {
  height: 20px;
  width: 20px;
  background-color: rgba(13, 13, 13, 0.8);
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.sponsors .loading .loadedItem.active {
  background-color: #f2cc0f;
  transform: scale(1.5);
}
.sponsors .loading .loadedItem:hover {
  cursor: pointer;
}

footer {
  display: grid;
  grid-template-columns: auto auto;
  height: 300px;
  margin-top: 1rem;
  border-top: 1px solid #f2cc0f;
  background-color: rgba(13, 13, 13, 0.8);
  color: rgb(242, 242, 242);
}