/** Google fonts **/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
/** Reset default **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(242, 242, 242);
}

h1,
h2 {
  font-family: "Pattaya", "Henny Penny" "b";
}

button.btn.btn-primary {
  background-color: rgb(148, 83, 166);
  border: 1px solid rgb(148, 83, 166);
}
button.btn.btn-primary:hover {
  background-color: rgb(148, 83, 166);
  border: 1px solid rgb(148, 83, 166);
  box-shadow: 0 0 10px 0 rgb(148, 83, 166);
}

@-webkit-keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.slider {
  position: relative;
}
@media (max-width: 992px) {
  .slider {
    display: none;
  }
}
.slider .book-item {
  position: absolute;
  display: grid;
  grid-template-rows: auto auto;
  top: 50px;
  left: 50px;
  background-color: rgba(148, 83, 166, 0.6);
  border: 1px solid rgb(242, 204, 15);
  color: rgb(242, 242, 242);
  border-radius: 8px;
  width: 300px;
  height: 150px;
  z-index: 1;
}
.slider .book-item h2 {
  margin-top: 20px;
  text-align: center;
  font-size: x-large;
}
.slider .book-item .clock {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider .book-item .clock .clock-parameters {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider .book-item .clock .clock-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 242, 242);
  width: 40px;
  height: 40px;
  margin: 5px;
  font-size: large;
  font-weight: bold;
  color: rgb(13, 13, 13);
}
.slider .slider-item {
  width: 100%;
  max-height: 900px;
  border-bottom: 5px solid rgb(13, 13, 13);
}
@media (max-width: 992px) {
  .slider .slider-item {
    max-height: 300px;
  }
}

@media (max-width: 992px) {
  .navbar .navbar-collapse .navbar-nav .nav-item.logo {
    display: none;
  }
}
@media (min-width: 992px) {
  .navbar {
    height: 90px;
    border-bottom: 1px solid rgb(242, 204, 15);
    box-shadow: 0 0 10px 0 rgb(242, 204, 15);
  }
  .navbar .navbar-collapse {
    justify-content: center;
  }
  .navbar .navbar-collapse .navbar-nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .navbar .navbar-collapse .navbar-nav .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
    height: 90px;
    width: 10vw;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: box-shadow 0.5s ease-in-out;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item.logo img {
    z-index: 1;
    width: 100px;
    transform: translateY(40px);
  }
  .navbar .navbar-collapse .navbar-nav .nav-item.logo:hover {
    z-index: 1;
    filter: drop-shadow(0 0 10px rgb(242, 204, 15));
    cursor: pointer;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item:hover:not(.nav-item.logo) {
    box-shadow: inset 0 0 10px 0 rgb(242, 204, 15);
  }
  .navbar .navbar-collapse .navbar-nav .nav-item:hover:not(.nav-item.logo) a {
    color: rgb(242, 204, 15);
  }
}

@media (max-width: 992px) {
  .slider {
    display: none;
  }
}
.sponsors {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 20px;
}
.sponsors .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sponsors .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.sponsors .cards .sponsorCard {
  position: relative;
  overflow: hidden;
}
.sponsors .cards .sponsorCard img {
  height: 200px;
}
.sponsors .btn {
  transition: box-shadow 0.5s ease-in-out;
}
.sponsors .btn.btn-primary {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgb(148, 83, 166);
  border: 1px solid rgb(148, 83, 166);
}
.sponsors .btn.btn-primary:hover {
  background-color: rgb(148, 83, 166);
  border: 1px solid rgb(148, 83, 166);
  box-shadow: 0 0 10px 0 rgb(148, 83, 166);
}
.sponsors .btn.btn-success {
  background-color: rgb(242, 204, 15);
  border: 1px solid rgb(242, 204, 15);
  color: rgb(13, 13, 13);
  font-size: large;
}
.sponsors .btn.btn-success:hover {
  background-color: rgb(242, 204, 15);
  border: 1px solid rgb(242, 204, 15);
  color: rgb(13, 13, 13);
  box-shadow: 0 0 10px 0 rgb(242, 204, 15);
}
.sponsors .loading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.sponsors .loading .loadedItem {
  height: 20px;
  width: 20px;
  background-color: rgba(13, 13, 13, 0.8);
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.sponsors .loading .loadedItem.active {
  background-color: rgb(242, 204, 15);
  transform: scale(1.5);
}
.sponsors .loading .loadedItem:hover {
  cursor: pointer;
}

.aboutSec section {
  height: 400px;
}
.aboutSec section:nth-child(even) {
  width: 100%;
  background-color: rgba(148, 83, 166, 0.5);
  border-bottom: 1px solid rgb(242, 204, 15);
  border-top: 1ps solid rgb(242, 204, 15);
  color: rgb(242, 242, 242);
  font-size: large;
  font-weight: bold;
}
.aboutSec section:nth-child(even).secAnim {
  -webkit-animation: 1s ease-out 0s 1 slideInFromLeft;
          animation: 1s ease-out 0s 1 slideInFromLeft;
}

.bg-hidden {
  display: none;
}
@media (max-width: 992px) {
  .bg-hidden {
    display: block;
  }
  .bg-hidden img {
    width: 100%;
    max-height: 600px;
  }
}

.aSec {
  display: grid;
  grid-template-columns: auto auto;
  height: 300px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.aSec .tweetImg {
  margin-left: 40px;
}
.aSec .tweetImg img {
  width: 250px;
  height: 300px;
  border-radius: 30%;
  transition: transform 0.5s ease-in-out;
}
.aSec .tweetImg img:hover {
  transform: scale(1.25);
}
.aSec .tweetParagraph {
  overflow: hidden;
  margin-right: 40px;
}
@media (max-width: 992px) {
  .aSec {
    overflow: hidden;
  }
  .aSec .tweetParagraph {
    margin-top: 10px;
    margin-right: 40px;
  }
}

.aboutUsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

#media {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mediaHeader {
  height: 600px;
  background-color: rgba(242, 204, 15, 0.7);
  background-image: url("https://www.mardigrasneworleans.com/thumb/1600/778/templates/client/imagesNew/xhome-header1.jpg.pagespeed.ic.39DcPhyq8Y.webp");
  background-size: cover;
  opacity: 0.8;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mediaHeader .mediaTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: rgb(148, 83, 166);
  border: 1px solid rgb(242, 242, 242);
  border-radius: 5px;
  background-color: rgba(242, 242, 242, 0.7);
}

.mediaContainer {
  overflow: hidden;
  overflow-x: scroll;
}
.mediaContainer img {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: 10px;
  transition: all 0.7s ease-in-out;
}
.mediaContainer img:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 10px rgb(148, 83, 166));
  transform: scale(1.5);
}

.mainImgContainer .mainImg {
  width: 1200px;
  height: 600px;
}
@media (max-width: 992px) {
  .mainImgContainer .mainImg {
    display: none;
  }
}

.modal {
  background-color: rgba(13, 13, 13, 0.5);
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.modal .close.cursor {
  position: absolute;
  top: 10px;
  right: 25px;
  color: white;
  font-size: 3rem;
}
.modal .close.cursor:hover {
  cursor: pointer;
}
.modal .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
.modal .modal-content .prev,
.modal .modal-content .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: rgb(242, 242, 242);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
.modal .modal-content .prev:hover,
.modal .modal-content .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.modal .modal-content img {
  max-height: 700px;
}
.modal .modal-content .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.general-header {
  background-image: url("/img/bg-img.jpg");
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.general-header .generalTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: rgb(148, 83, 166);
  border: 1px solid rgb(242, 242, 242);
  border-radius: 5px;
  background-color: rgba(242, 242, 242, 0.7);
}

.btn.btn-primary {
  background-color: rgb(148, 83, 166);
  border: 1px solid rgb(148, 83, 166);
}

footer {
  display: grid;
  position: relative;
  grid-template-columns: auto auto;
  height: 300px;
  margin-top: 1rem;
  border-top: 1px solid rgb(242, 204, 15);
  background-color: rgba(13, 13, 13, 0.8);
  color: rgb(242, 242, 242);
}
footer .socials {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -30px;
  right: 50px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(242, 204, 15);
  border: 3px solid rgb(148, 83, 166);
  font-size: x-large;
  font-weight: bold;
  transition: box-shadow 0.5s ease-in-out;
}
footer .socials:hover {
  cursor: pointer;
  box-shadow: 0 0 15px 0 rgb(148, 83, 166);
}

.container.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container.footerLinks {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}