.slider {
  position: relative;
  @include mobile {
    display: none;
  }
  & .book-item {
    position: absolute;
    display: grid;
    grid-template-rows: auto auto;
    top: 50px;
    left: 50px;
    background-color: rgba(148, 83, 166, 0.6);
    border: 1px solid $pallet-gold;
    color: $pallet-white;
    border-radius: 8px;
    width: 300px;
    height: 150px;
    z-index: 1;
    & h2 {
      margin-top: 20px;
      text-align: center;
      font-size: x-large;
    }
    & .clock {
      display: flex;
      justify-content: center;
      align-items: center;
      & .clock-parameters {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      & .clock-cell {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $pallet-white;
        width: 40px;
        height: 40px;
        margin: 5px;
        font-size: large;
        font-weight: bold;
        color: $pallet-black;
      }
    }
  }
  & .slider-item {
    width: 100%;
    max-height: 900px;
    border-bottom: 5px solid $pallet-black;
    @include mobile {
      max-height: 300px;
    }
  }
}
.navbar {
  @include mobile {
    & .navbar-collapse {
      & .navbar-nav {
        & .nav-item {
          &.logo {
            display: none;
          }
        }
      }
    }
  }
  @include desktop {
    height: 90px;
    border-bottom: 1px solid $pallet-gold;
    box-shadow: 0 0 10px 0 $pallet-gold;
    & .navbar-collapse {
      justify-content: center;

      & .navbar-nav {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        & .nav-item {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: x-large;
          font-weight: bold;
          height: 90px;
          width: 10vw;
          border-left: 1px solid transparent;
          border-right: 1px solid transparent;
          transition: box-shadow 0.5s ease-in-out;
          &.logo {
            & img {
              z-index: 1;
              width: 100px;
              transform: translateY(40px);
            }
            &:hover {
              z-index: 1;
              filter: drop-shadow(0 0 10px $pallet-gold);
              cursor: pointer;
            }
          }

          &:hover:not(.nav-item.logo) {
            box-shadow: inset 0 0 10px 0 $pallet-gold;
            a {
              color: $pallet-gold;
            }
          }
        }
      }
    }
  }
}

@include mobile {
  .slider {
    display: none;
  }
}
