.slider {
  & .slider-item {
    width: 100vw;
    max-height: 600px;
    border-bottom: 5px solid black;
    @include mobile {
      max-height: 300px;
    }
  }
}
.navbar {
  @include mobile {
    & .navbar-collapse {
      & .navbar-nav {
        & .nav-item {
          &.logo {
            display: none;
          }
        }
      }
    }
  }
  @include desktop {
    height: 90px;
    & .navbar-collapse {
      justify-content: center;
      & .navbar-nav {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        & .nav-item {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: large;
          font-weight: bold;
          height: 90px;
          border-left: 1px solid transparent;
          border-right: 1px solid transparent;
          transition: box-shadow 0.5s ease-in-out;
          &.logo {
            & img {
              z-index: 1;
              width: 100px;
              transform: translateY(40px);
            }
            &:hover {
              z-index: 1;
              filter: drop-shadow(0 0 10px $pallet-gold);
              cursor: pointer;
            }
          }
          &.item00 {
            grid-column-start: 2;
            grid-column-end: 3;
          }
          &:hover:not(.nav-item.logo) {
            box-shadow: inset 0 0 10px 0 $pallet-gold;
            a {
              color: $pallet-gold;
            }
          }
        }
      }
    }
  }
}

@include mobile {
  .slider {
    display: none;
  }
}
