/** Google fonts **/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

$pallet-gold: #f2cc0f;
$pallet-black: rgb(13, 13, 13);
$pallet-white: rgb(242, 242, 242);

/** Reset default **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: "Pattaya", "Henny Penny" "b";
}

@mixin mobile {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 992px) {
    @content;
  }
}
